.thread-image {
    width: 100%;
    margin-top: 3px;
    border-radius: 2%;
}

.pull-right {
    float: right;
}

.muted {
    color: gray !important;
}

blockquote {
    background: #f9f9f9;
    border-left: 1px dashed #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}


.stats-badge > span {
    border-style: solid;
    background: lightgray;
    color: gray;
    border-color: white;
}

.top-divider {
    margin-top: 10px !important;
}

.sticky {
    display: none;
}

.country {
    margin-right: 10px !important;
}

.hundred-percent {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.favorite-user {
    margin-left: 5px !important;
}
.favorited-user {
    vertical-align: middle;
    margin-left: 5px;
    fill: cornflowerblue !important;
}

.thread-stats {
    margin-top: 20px;
}